<p class="instructions">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis at cupiditate deserunt dolore vero doloribus illo provident quia architecto, harum enim a quaerat accusantium tempore tempora! Consectetur et officia sequi!
</p>

<style>
    .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

</style>